@model AuctionSite.Models.ViewModels.AuctionItemCreateEditVM


<form method="post" asp-action="CreateEdit" enctype="multipart/form-data">
    <input asp-for="AuctionItem.Id" hidden /><!--Used for Update -->
    <input asp-for="AuctionItem.ImageUrl" hidden />
    <input asp-for="AuctionItem.UserID" hidden />


    <div class="container border rounded p-3">
        <div class="col-12 pb-2">
            <h2 class="text-primary">@(Model.AuctionItem.Id!= Guid.Empty ? "Update": "Create")  Auction item</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="AuctionItem.Title"></label>
            <input asp-for="AuctionItem.Title" class="form-control" />
            <span asp-validation-for="AuctionItem.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AuctionItem.Description"></label>
            <textarea asp-for="AuctionItem.Description" rows="3" class="form-control"></textarea>
            <span asp-validation-for="AuctionItem.Description" class="text-danger"></span>
        </div>

        <div class="row">

            <div class="col-9 col-md-6 order-last order-md-first">
                <div class="mb-3">
                    <label asp-for="AuctionItem.ImageUrl"></label>
                    <input type="file" id="uploadBox" name="file" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="AuctionItem.StartingBid"></label>
                    <input asp-for="AuctionItem.StartingBid" class="form-control" />
                    <span asp-validation-for="AuctionItem.StartingBid" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="AuctionItem.CategoryId"></label>
                    <select asp-for="AuctionItem.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="AuctionItem.CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-7 col-md-4 order-first order-md-last">
                <img src="@Model.AuctionItem.ImageUrl" id="viewImage" class="img-fluid" />
            </div>
        </div>


        <div class="row">
            <div class="col-auto me-auto">
                <button type="submit" class="btn btn-primary" style="width:150px"><i class="fas fa-save"></i> Save</button>

            </div>
            <div class="col-auto">
                <a href="javascript:history.back()" class="btn btn-secondary" style="width:150px">
                    Back
                </a>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>
        /*Script to get a priew on the image update small Preview window*/
    uploadBox.onchange = (event) => {
        let selectedFile = event.target.files[0];
        if (selectedFile) {
            let image = document.getElementById("viewImage"); //using addpicture sense this modal will only have max 1 img element in it
            //If Img element exists or not.
            console.log(image);
            image.src = URL.createObjectURL(selectedFile);
        }
        };
</script>