@{
    ViewData["Title"] = "About Me";
}

<div class="row">
    <div class="col-12 col-md">
        <img src="~/images/SiteImages/AboutMepic.jpg" alt="Me and Elsa" class="img-fluid" />

    </div>

    <div class="col-12 col-md">
        <h3>About me</h3>
        <p>
            Hi, my name is Jacob Hedén. I am studying to become a full stack developer with focus on .Net. I am curious by nature and like to learn new things and in some case I can come off as a bit of a nerd.
            On my free time I like spending time with my family and friends, watch some good Tv-series and if I get the opportunity, I also like to play a round of golf.
            I got a daughter of 2 and a half that is always shines up my day!
        </p>

    </div>
</div>