@model IEnumerable<AuctionItem>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AuctionSite Website</h1>
</div>



<div class="side-scroller_row snaps-inline">
    @foreach (var item in Model)
    {
        <a asp-area="AuctionUser" asp-controller="Bid" asp-action="AuctionItemDetails" asp-route-id="@item.Id">
            <div class="elements">
                <img src="@item.ImageUrl" alt="@item.Title picture" />
                <h5 class="card-title">@item.Title</h5>
                <p>$@(item.bids.Count() > 0 ? item.bids.First() : item.StartingBid ) </p>
            </div>
        </a>
    }
</div>


